<div class="body-content">
<div class="container">

  <div class="">
    <p>Title: <%= @organization.name %></p>
    <p>Address: <%= @organization.address %></p>
    <p>Overview: <%= @organization.overview %></p>
    <p>Number of Employees: <%= @organization.employees %></p>
    <p>Tech Team Size: <%= @organization.teamsize %></p>
    <p>Website: <%= @organization.website %></p>
    <p>Twitter: <%= @organization.twitter %></p>
    <span>Technology: </span>
    <% @organization.tags.each do |t| %>
    <div class="chip">
      <%= t.name %>
      <i class="close material-icons">close</i>
    </div>
    <% end %>
    <% if @organization.published === true %>
    <p>Published</p>
    <% else %>
    <p>Not published</p>
    <% end %>
  </div>
  <% if @organization.user == current_user %>
    <%= link_to "Edit Organization", edit_organization_path(@organization), class: "btn"%>
  <% end %>
</div>
</div>
